# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Sort Machine'
      'submenu': [
        { 'label': 'Launch', 'command': 'sort-machine:launch' }
      ]
    ]
  }
]
